@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-color: rgb(250, 195, 234);
}

.red {
  color: rgb(255, 255, 255);
}

.green {
  color: #008000;
}

* {
  font-family: "Montserrat", sans-serif;
}

.medium-copytext {
  font-size: medium;
}

.bold-copytext {
  font-size: large;
}

.fancy {
  font-family: "Moul", cursive;
  text-shadow: #e0aab5 2px 4px 0;
}

.fancy_dark {
  font-family: "Moul", cursive;
  text-shadow: #6b68fb 2px 4px 0px;
}

.bubble {
  border-radius: 6.5rem;
}

.piece1 {
  position: relative;
  left: 55%;
}

.piece2 {
  position: relative;
  bottom: 125px;
}

.piece3 {
  position: relative;
  right: 30%;
  bottom: 400px;
  width: 25%;
}
